.title{
  display: flex;
  justify-content: center;
  margin-block-end: 60px;
  color: #24612a;
font-size: 50px;
}
.imgTitle{
  width: 100px;
  height: 100px;
}
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: absolute;
}
.btn{
  width: 160px;
  height: 60px;
  display: flex;
  font-size:x-large;
text-align: center;
font-family:unset;
display: flex;
justify-self: flex-end;
}
.ww{
  display: flex;
  justify-content: center;

}
.ww div{
  justify-self: flex-end;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #24612a;
  color: rgb(19, 18, 19);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}

/* .main{
border: 2px solid black;
display: flex;
flex-wrap: wrap;
width: 60%;
margin:auto;
margin-top: 50px;

}
.main div{
border: 1px solid black;
width: 24%;
height: 100px;
padding-top: 50px;


} */

.immg {
    width: 220px;
    height: 240px;
  }
  .divcss {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 15px;
    padding: px;
    margin: 40px;
  }  
  .divcss div:hover {
    box-shadow: 0px 0px 10px #3b3b3a;
    width: 220px;
    height: 240px;
  
  }